{% extends "base.html" %}
{% block title %}Вхід{% endblock %}
{% block content %}
    <h1>Вхід</h1>
    <form method="POST">
        <div>
            <label>Ім'я користувача:</label><br>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>Пароль:</label><br>
            <input type="password" name="password" required>
        </div>
        <div>
            <button type="submit">Увійти</button>
        </div>
    </form>
    <p>Немає акаунта? <a href="{{ url_for('register') }}">Зареєструватися</a></p>
{% endblock %}