{% extends "base.html" %}
{% block title %}Реєстрація{% endblock %}
{% block content %}
    <h1>Реєстрація</h1>
    <form method="POST">
        <div>
            <label>Ім'я користувача:</label><br>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>Пароль:</label><br>
            <input type="password" name="password" required>
        </div>
        <div>
            <button type="submit">Зареєструватися</button>
        </div>
    </form>
    <p>Вже є акаунт? <a href="{{ url_for('login') }}">Увійти</a></p>
{% endblock %}